[Desktop Entry]
Name=Steam
Comment=Start Steam in Big Picture Mode
Exec=/usr/bin/steam -bigpicture
TryExec=/usr/bin/steam
Icon=/usr/lib/steam/icon.png
Type=Application
