[Unit]
Description=DeskPi Pro Fan Control Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/tools/deskpi_pro_fan_control.py
ExecStop=/usr/bin/pgrep -f deskpi_pro_fan_control.py | xargs kill -9
User=pi
Group=pi
Restart=always
RestartSec=60

[Install]
Alias=deskpiprofan
WantedBy=multi-user.target
